<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
      <ion-item routerLink="/movies">
          <ion-label>Sport News</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="movies/movie-deatils">
          <ion-label>Business News</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Labwork3</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
    </ion-content>
  </div>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
